
* {
		margin: 0;
    padding: 0;
    font-family: Alata;
	}

.logo {
			width: 95px;
			height: 80px;
			float: left;
			padding: 20px;
		}

h3.headertext {
			padding-bottom: 18px;
			color: black;
		}

h2.headertext {
			padding-top: 20px;
			color: black;
			letter-spacing: 10px;
		}

header {
			width: 100%;
			background-color: white;
			height: 120px;
			min-width: 600px;
			overflow: auto;
		}

body, html {
			height: 100%;
			color: #777;
			line-height: 1.8;
		}

.sec1 {
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			position: relative;
			min-width: 600px;
		}

.sec1 {
			background-image: url("images/bgA.jpg");
			min-height: 100%;
			opacity: 75%;
		}


.center-page-text {
			letter-spacing: 10px;
			text-align: center;
			padding: 20px;
			background-color: black;
			color: white;
			font-size: 24px;
		}

.display-middle {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

.button {
			background-color: white;
			border: 2px #4CAF50 solid;
			color: #4CAF50;
			padding: 15px 32px;
			text-align: center;
			font-size: 16px;
			position: absolute;
			right: 20px;
			top: 35px;
			transition-duration: .5s;
		}

.button:hover {
			background-color: #4CAF50;
			transition-duration: .5s;
			color: white;
		}

.sec2 {
			background-color: white;
			min-width: 600px;
			color: black;
			width: 100%;
		}

.under-title {
			padding-top: 20px;
			padding-bottom: 40px;
		}

.col {
			flex: 50%;
			font-size: 18px;
		}

.row {
			display: flex;
			padding-top: 100px;
			padding-bottom: 95px;
			padding-left: 10%;
			padding-right: 10%;
			max-width: 800px;
			margin: auto;

		}

.img1 {
			padding: 0;
			height: 250px;
			float: left;
		}

.link {
			text-decoration: none;
			color: #4CAF50;
			font-size: 18px;
			transition-duration: .3s;
		}

.link:hover {
			transition-duration: .3s;
			color: black;
		}

.link2 {
			margin-left: 20px;
		}

.sec3, .sec4 {
			background-color: #E0FFD8;
			width: 100%;
			min-width: 600px;
      overflow-x: hidden;
      position: relative;
		}

.sec5 {
			background-color: whitesmoke;
			width: 100%;
			min-width: 600px;
      position: relative;
		}

.fog-img{
      height: 500px;
      margin-left: 50%;
      margin-top: 100px;
      padding-bottom: 100px;
    }

.lake-img{
      height: 750px;
      margin-left: 45%;
      margin-top: 100px;
      padding-bottom: 100px;
    }

.skyward-img{
      width: 580px;
      padding-top: 80px;
      margin-left: auto;
      margin-right:auto;
      display:block;
}

.section3text{
      color: white;
      background-color: black;
      margin-left: 35%;
      width: 300px;
      position: absolute;
      top: 150px;
      padding: 40px;
    }

.section4text{
      color: white;
      background-color: black;
      margin-left: 30%;
      width: 400px;
      position: absolute;
      top: 150px;
      padding: 40px;
    }

.section5text{
      color: white;
      background-color: black;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
      width: 500px;
      padding: 40px;
      text-align: center;
      padding-bottom: 60px;
    }

.sec5all{
  padding-bottom: 50px;
}

footer {
			background-color: white;
      height: 50px;
      width: 100%;
      min-width: 600px;
		}

.footerinfo{
      padding: 10%;
    }

.titlesec3, .titlesec4, .titlesec5{
      padding-bottom: 20px;
      color: #4CAF50;
      letter-spacing: 5px;
    }
